---
---
@import "minima";

.site-title {
  display: inline-flex !important;
  align-items: center;

  &::before {
    content: "";
    display: inline-block;
    background-image: url("{{ 'assets/logos/logo.png' | relative_url }}");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    flex-shrink: 0;
  }
}

/* Page & Post Title Size */
.post-title {
  font-size: 1.50rem !important; /* Default Minima v2 is ~2.625rem / 42px */
  letter-spacing: -0.5px;
}

